@page "/about"
@using LDJam55.Game.Pages.Renderer

<PageTitle>About - The King's Summoning - Ludum Dare 55</PageTitle>

<div id="aboutPage" class="page about">
    <Cover/>

    <div class="panel">
        <header>
            <h1>About</h1>
        </header>

        <p>This game was developed during the Ludum Dare 55 competition in the weekend of 13 and 14 april 2024.</p>
        <p>The goal of the competition is to create a game from scratch in 24 hours (including sleep) from scratch. Meaning the participant must make game play, art, application, music within this time spawn</p>
        <p>I decided to avoid a game engine and try the mystical realm of CSS3 styling and avoid most javascript by using Blazor Dotnet (C#)</p>

        <p>This game was made with:</p>
        <ul class="tools">
            <li><span class="type">Framework</span><a href="https://dotnet.microsoft.com/" target="_new">DotNet 8.0</a></li>
            <li><span class="type">Framework</span><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_new">Blazor WASM DotNet</a></li>
            <li><span class="type">Language</span><a href="https://dotnet.microsoft.com/" target="_new">C#</a></li>
            <li><span class="type">Language</span><a href="https://www.w3.org/Style/CSS/specs.en.html" target="_new">CSS3</a></li>
            <li><span class="type">Language</span><a href="https://www.w3.org/standards/history/html52/" target="_new">HTML5.2</a></li>
            <li><span class="type">Development editor</span><a href="https://visualstudio.microsoft.com/downloads/" target="_new">Visual Studio 2022</a></li>
            <li><span class="type">Graphics editor</span><a href="https://krita.org/en/" target="_new">Krita</a></li>
            <li><span class="type">Graphics editor</span><a href="https://affinity.serif.com/" target="_new">Affinity Design</a></li>
            <li><span class="type">Audio editor</span><a href="https://www.audacityteam.org/" target="_new">Audacity</a></li>
            <li><span class="type">Audio (Midi) editor</span><a href="https://anvilstudio.com/" target="_new">Anvil</a></li>
        </ul>

        <p>Links from the author:</p>
        <ul class="tools">
            <li><a href="https://ldjam.com/events/ludum-dare/55/the-kings-summoning-1" target="_new">LDJam game entry page + ratings</a></li>
            <li><a href="https://ldjam.com/users/strong99/" target="_new">LDJam profile page</a></li>
            <li><a href="https://ldjam.com/users/strong99/games" target="_new">LDJam game list (new &gt; 2018)</a></li>
            <li><a href="https://web.archive.org/web/20181028165742/http://ludumdare.com:80/compo/author/strong99/" target="_new">LDJam game list (old &lt; 2018)</a></li>
        </ul>

        <a href="./">Return</a>
    </div>
</div>
